<div class="mdl-card mdl-cell mdl-cell--12-col">
	<div class="services-card-photo mdl-card__title mdl-color--teal-300">
		<%= content_tag :div, class: "services-card-title-text" do %>
			<%= content_tag :h2, service.name, class: "mdl-card__title-text"%>
			<%= content_tag :span, service.highlights.html_safe, class: "mdl-card__subtitle-text" %>
		<% end %>
	</div>

	<div class="mdl-card__actions">
		<%= link_to "Learn More", '#', id: "service-#{service.id}", class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
		<% if current_user %>
			<%= link_to "Edit this service", edit_service_path(service), class: "font-color-edit mdl-button mdl-js-button mdl-js-ripple-effect"%>
		<% end %>
	</div>
</div>

