<div class="mdl-grid">
	<% if current_user %>
		<a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="/services/new">Create new service</a>
	<% end %>
</div>

<div class="mdl-grid">

	<% @services.each do |service| %>
		<% if (service.id % 4) == 0 %>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
				<%= render 'services/services_card', :service => service %>
			</div>
			<div class="service-modal">
				<%= render 'services/services_modal', service: service %>
			</div>
		<% elsif service.id % 3 ==  0%>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
				<%= render 'services/services_card', :service => service %>
			</div>
			<div class="service-modal">
				<%= render 'services/services_modal', service: service %>
			</div>
		<% elsif service.id % 2 ==  0%>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
				<%= render 'services/services_card', :service => service %>
			</div>
			<div class="service-modal">
				<%= render 'services/services_modal', service: service %>
			</div>
		<% else %>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
				<%= render 'services/services_card', :service => service %>
			</div>
			<div class="service-modal">
				<%= render 'services/services_modal', service: service %>
			</div>
		<% end %>
	<% end %>
</div>

<% @services.each do |s| %>
<% end -%>

<div id="content-list">
	<% @contents.each do |c| %>
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset mdl-cell--12-col-tablet mdl-card mdl-shadow--3dp">
				<div class="mdl-card__title mdl-color--yellow-300">
	  				<%= c.heading %><% if !c.visible %><%= " | (not displayed)" %><% end -%>
				</div>
				<div class="mdl-card__supporting-text mdl-color-text--grey-600">
					<% if c.avatar_file_name %>
						<div class="content-pic">
							<%= image_tag c.avatar, size: 200 %>
						</div>
					<% end -%>
	  				<%= c.text.html_safe %>
				</div>
				<% if current_user %>
					<div class="mdl-card__actions mdl-card--border">
						<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/contents/<%= c.id %>/edit">Edit</a>
						<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect deactivate-button" data-remote="true" href="/contents/invisible/<%= c.id %>" style="display: <% if c.visible %><%= 'inline-flex' %><% else %><%= 'none' %><% end -%>">Do not display</a>
						<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect activate-button" data-remote="true" href="/contents/visible/<%= c.id %>" style="display: <% if !c.visible %><%= 'inline-flex' %><% else %><%= 'none' %><% end -%>">Display</a>
					</div>
				<% end -%>
			</div>
		</div>
	<% end %>
</div>

<script>
// Deactivate content
	$(".deactivate-button").each(function() {
		$(this).on("ajax:complete", function(event) {
			$(event.target).hide();
			$(event.target).next().show();
		});
	});

// Activate content
	$(".activate-button").each(function() {
		$(this).on("ajax:complete", function(event) {
			$(event.target).hide();
			$(event.target).prev().show();
		});
	});
</script>
