<h2>Add new service</h2>

<%= form_for @service, url: {action: "create", controller: "services"} do |f| %>
	<%= f.label "Service name: " %>
	<%= f.text_field :name, autofocus: true %><br>
	<%= f.label "Highlights (prices, hours, etc.): " %>
	<%= f.text_area :highlights, id: "highlight-text" %><br>
	<%= f.label "Description: " %>
	<%= f.text_area :description, id: "desc-text" %><br>
	<%= f.label "Upload image: " %>
	<%= f.file_field :avatar %><br>
	<%= f.submit %>
<% end -%>

<script>
	CKEDITOR.replace("highlight-text");
	CKEDITOR.replace("desc-text");
</script>
