<h2>Edit <%= @walker.fname %>'s profile</h2>

<%= form_for @walker, url: {action: "update", id: @walker} do |f| %>
	<%= f.label "First name: " %>
	<%= f.text_field :fname, autofocus: true %><br>
	<%= f.label "Last name: " %>
	<%= f.text_field :lname %><br>
	<%= f.label "Role/title: " %>
	<%= f.text_field :role %><br>
	<%= f.label "Bio: " %>
	<%= f.text_area :bio, id: "bio-text" %><br>
	<%= f.label "Currently active? " %>
	<%= f.check_box :active, default: @walker.active %>
	<%= f.label " Upload image " %>
	<%= f.file_field :avatar %><br>
	<%= f.submit %>
<% end %>

<script>
	CKEDITOR.replace("bio-text");
</script>

