<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col">
		<h3>The Company</h3>
		<% if current_user %>
			<%= link_to "Create new walker", new_walker_path %>
		<% end %>
	</div>
</div>

<div class="mdl-grid">
	<!-- <div class="mdl-cell mdl-cell--3-col"></div> -->
	<div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset mdl-card mdl-shadow--3dp">
		<div class="mdl-card__title mdl-color--yellow-300">
			<%= @contents[0].heading %>
		</div>
		<div class="mdl-card__supporting-text mdl-color-text--grey-600">
			<%= @contents[0].text %>
		</div>
	</div>
</div>
<div id="walker-list">
	<% @walkers.each do |w| %>
		<% if w.active || current_user %>
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset mdl-card mdl-card--3dp walker-list-item"  style="min-height: 48px">
					<div class="mdl-card__title mdl-color--teal-300">
					<%= w.fname %> | <%= w.role %><% if !w.active %> | (inactive) <% end -%>
					</div>
					<div class="walker-list-body" style="display: none">
						<div class="mdl-card__supporting-text mdl-card--border mdl-color-text--grey-600" >
							<div class="walker-pic">
								<%= image_tag w.avatar, size: 200 %>
							</div>
							<%= w.bio %>
						</div>
						<% if current_user %>
							<div class="mdl-card__actions mdl-card--border">
								<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/walkers/<%= w.id %>/edit">Edit</a>
								<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href=<!-- deactivate walker -->Deactivate</a>
								<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" method="DELETE" action="/walkers/<%= w.id %>">Delete</a>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		<% end -%>
	<% end -%>
</div>

<!--
<% @contents.each do |c| %>
	<div class="walker-profile about-content">
		<div class="walker-profile-image">
-->
			<!-- rails syntax for including image, whatever, can't remember right now -->
<!--
		</div>
		<h2><%= c.heading %></h2>
		<p><%= c.text %></p>
		<% if current_user %>
			<%= link_to "Edit", edit_content_path(c) %>
		<% end -%>
	</div>
<% end -%>
-->

<script>
	$(".walker-list-item").each(function(i) {
		$(".walker-list-item").eq(i).on("click", function () {
console.log("clicked");
console.log($(".walker-list-body").eq(i)[0].style.display);
			if ($(".walker-list-body").eq(i)[0].style.display === "none")	{
				for (var j = 0; j < $(".walker-list-body").length; j++) {
					$(".walker-list-body").eq(j).slideUp("slow");
				}
				$(".walker-list-body").eq(i).slideDown("slow");
			}
		});
	});
</script>

<!--
# <% @walkers.each do |w| %>
# 	<% if w.active || current_user %>
# 		<div class="walker-profile">
# 			<h3><%= w.fname %> <% if w.lname %><%= w.lname %><% end %></h3>
# 			<h4><%= w.role %></h4>
# 			<p><%= w.bio %></p><br>	
# 			<% if current_user %>
# 				<%= link_to "Edit", edit_walker_path(w) %>
# 			<% end -%>
# 			<br><br>
# 		</div>
# 	<% end %>
# <% end %>
-->