<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col">
		<% if current_user %>
			<a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="/walkers/new">Create new walker</a>
			<a class="mdl-button mdl-js-button mdl-js-ripple-effect show-all-button">Display all</a>
		<% end %>
	</div>
</div>

<div id="content-list">
	<% @contents.each do |c| %>
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset mdl-card mdl-shadow--3dp">
				<div class="mdl-card__title mdl-color--yellow-300">
					<%= c.heading %><% if !c.visible %><%= " | (not displayed)" %><% end %>
				</div>
				<div class="mdl-card__supporting-text mdl-color-text--grey-600">
					<% if c.avatar_file_name %>
						<div class="content-pic">
							<%= image_tag c.avatar, size: 200 %>
						</div>
					<% end -%>
					<%= c.text.html_safe %>
				</div>
				<% if current_user %>
					<div class="mdl-card__actions mdl-card--border">
						<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/contents/<%= c.id %>/edit">Edit</a>
						<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect deactivate-button" data-remote="true" href="/contents/invisible/<%= c.id %>" style="display: <% if c.visible %><%= 'inline-flex' %><% else %><%= 'none' %><% end -%>">Do not display</a>
						<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect activate-button" data-remote="true" href="/contents/visible/<%= c.id %>" style="display: <% if !c.visible %><%= 'inline-flex' %><% else %><%= 'none' %><% end -%>">Display</a>
					</div>
				<% end -%>
			</div>
		</div>
	<% end -%>
</div>

<div id="walker-list">
	<% @walkers.each do |w| %>
		<% if w.active || current_user %>
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset mdl-card mdl-card--3dp walker-list-item"  style="min-height: 48px">
					<div class="mdl-card__title mdl-color--teal-300">
						<%= w.fname %> | <%= w.role %><% if !w.active %> | (inactive) <% end -%>
						<div class="click-open-icon" style="display: block">
							<%= evil_icon 'ei-chevron-down', size: :m %>
						</div>
					</div>
					<div class="walker-list-body" style="display: none">
						<div class="mdl-card__supporting-text mdl-card--border mdl-color-text--grey-600" >
							<% if w.avatar_file_name %>
								<div class="walker-pic">
									<%= image_tag w.avatar, size: 200 %>
								</div>
							<% end -%>
							<%= w.bio %>
						</div>
						<% if current_user %>
							<div class="mdl-card__actions mdl-card--border">
								<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/walkers/<%= w.id %>/edit">Edit</a>
								<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect deactivate-button" data-remote="true" href="walkers/deactivate/<%= w.id %>" style="display: <% if w.active %><%= 'inline-flex' %><% else %><%= 'none' %><% end -%>">Deactivate</a>
								<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect activate-button" data-remote="true" href="walkers/activate/<%= w.id %>" style="display: <% if !w.active %><%= 'inline-flex' %><% else %><%= 'none' %><% end -%>">Activate</a>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		<% end -%>
	<% end -%>
</div>

<script>
// Reveal walker cards on click
	$(".walker-list-item").each(function(i) {
		$(this).on("click", function () {
			if ($(".walker-list-body").eq(i)[0].style.display === "none")	{
				for (var j = 0; j < $(".walker-list-body").length; j++) {
					$(".walker-list-body").eq(j).slideUp("slow");
					$(".click-open-icon").eq(j)[0].style.display = "block";
				}
				$(".walker-list-body").eq(i).slideDown("slow");
				$(".click-open-icon").eq(i)[0].style.display = "none";
			}
		});
	});

// Reveal all walkers
	$(".show-all-button").on("click", function() {
		$(".walker-list-body").each(function() {
			$(this).slideDown();
		});
		$(".click-open-icon").each(function() {
			$(this)[0].style.display = "none";
		});
	});

// Deactivate walker
	$(".deactivate-button").each(function() {
		$(this).on("ajax:complete", function(event) {
			$(event.target).hide();
			$(event.target).next().show();
		});
	});

// Activate walker
	$(".activate-button").each(function() {
		$(this).on("ajax:complete", function(event) {
			$(event.target).hide();
			$(event.target).prev().show();
		});
	});
// Deactivate content
	$(".deactivate-button").each(function() {
		$(this).on("ajax:complete", function(event) {
			$(event.target).hide();
			$(event.target).next().show();
		});
	});

// Activate content
	$(".activate-button").each(function() {
		$(this).on("ajax:complete", function(event) {
			$(event.target).hide();
			$(event.target).prev().show();
		});
	});
</script>
