<h2>Add a new walker</h2>

<%= form_for @walker, url: {action: "create", controller: "walkers"} do |f| %>
	<%= f.label "First name: " %>
	<%= f.text_field :fname, autofocus: true %><br>
	<%= f.label "Last name: " %>
	<%= f.text_field :lname %><br>
	<%= f.label "Role/title: " %>
	<%= f.text_field :role %><br>
	<%= f.label "Bio: " %>
	<%= f.text_area :bio, id: "bio-text" %><br>
	<%= f.label "Active walker? " %>
	<%= f.check_box :active, default: true %>
	<%= f.label " Upload image " %>
	<%= f.file_field :avatar %><br>
	<%= f.submit %>
<% end %>

<script>
	CKEDITOR.replace("bio-text");
</script>