<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="contact-card__background mdl-card mdl-cell mdl-cell--12-col">
        <%= form_tag 'contact_email', url:{ action: "contact_email" } do |f|  %>
          <div class="contact-card__input-area mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <%= text_field_tag :name, nil, class: "mdl-textfield__input", id: "name" %>
            <label class="mdl-textfield__label" for="sample3">Name</label>
          </div>
          <div class="contact-card__input-area mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <%= text_field_tag :email, nil, class: "mdl-textfield__input", id: "email" %>
            <label class="mdl-textfield__label" for="sample3">Email</label>
          </div>
          <div class="contact-card__input-area mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <%= text_field_tag :address, nil, class: "mdl-textfield__input", id: "address" %>
            <label class="mdl-textfield__label" for="sample3">Address</label>
          </div>
          <div class="contact-card__input-area mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <%= text_field_tag :phone, nil, class: "mdl-textfield__input", id: "phone" %>
            <label class="mdl-textfield__label" for="sample3">Phone</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <%= text_field_tag :zip, nil, class: "mdl-textfield__input", id: "zip" %>
            <label class="mdl-textfield__label" for="sample3">Zipcode</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <%= text_field_tag :start_date, nil, class: "mdl-textfield__input", id: "start_date" %>
            <label class="mdl-textfield__label" for="sample3">Start Date</label>
          </div>
          <div class="contact-card__input-area mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <%= text_field_tag :about_pet, nil, class: "mdl-textfield__input", id: "about_pet" %>
            <label class="mdl-textfield__label" for="sample5">About your pet</label>
          </div>
          <%= submit_tag "submit" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
    <% @contents.each do |c| %>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--3dp">
          <div class="background-color-contact mdl-card__title">
            <%= c.heading %><% if !c.visible %><%= " | (not displayed)" %><% end -%>
          </div>
          <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            <% if c.avatar_file_name %>
              <div class="content-pic">
                <%= image_tag c.avatar, size: 200 %>
              </div>
            <% end -%>
            <%= c.text.html_safe %>
          </div>
          <% if current_user %>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/contents/<%= c.id %>/edit">Edit</a>
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect deactivate-button" data-remote="true" href="/contents/invisible/<%= c.id %>" style="display: <% if c.visible %><%= 'inline-flex' %><% else %><%= 'none' %><% end -%>">Do not display</a>
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect activate-button" data-remote="true" href="/contents/visible/<%= c.id %>" style="display: <% if !c.visible %><%= 'inline-flex' %><% else %><%= 'none' %><% end -%>">Display</a>
            </div>
          <% end -%>
        </div>
      </div>
    <% end -%>
  </div>
</div>

<script>
// Deactivate content
  $(".deactivate-button").each(function() {
    $(this).on("ajax:complete", function(event) {
      $(event.target).hide();
      $(event.target).next().show();
    });
  });

// Activate content
  $(".activate-button").each(function() {
    $(this).on("ajax:complete", function(event) {
      $(event.target).hide();
      $(event.target).prev().show();
    });
  });
</script>
