<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col  mdl-cell--12-col-tablet mdl-cell--order-12-tablet mdl-cell--order-12-phone">
    <div class="clear-card-background mdl-card mdl-cell mdl-cell--12-col">

      <div class="clear-card-background mdl-card mdl-cell mdl-cell--12-col">
          <div class="clear-card-background content-card__title mdl-card__title-text">
            <h3 class="content-card__title-text">Check out our service area</h3>
          </div>
          <div class="mdl-card__media">
            <section id="map">
              <iframe src="https://mapsengine.google.com/map/embed?mid=zn_KDfng5RdI.kz2ryF0A_4lA" width="100%" height="500px"></iframe>
            </section>
          </div>
      </div>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--6-col  mdl-cell--12-col-tablet">

      <div class="clear-card-background mdl-card mdl-cell mdl-cell--12-col">

        <div class="faded-card-background mdl-card mdl-cell mdl-cell--12-col">
        <% @contents.each do |content| %>
          <div class="content-card__title  mdl-card__title-text">
            <h3 class="content-card__title-text"><%= content.heading %></h3>
          </div>
          <div class="mdl-card__supporting-text">
            <%= content.text.html_safe %>
          </div>
        <% end %>
      </div>

      <div class="faded-card-background mdl-card mdl-cell mdl-cell--12-col">
        <div class="content-card__title mdl-card__title-text">
          <h3 class="content-card__title-text">Schedule a meet and greet today</h3>
        </div>
        <div class="mdl-card__supporting-text">
          <div class="icon icon-ic_play-circle_outline_black_24dp"></div>
          <p>
            PAY US with MONEY! We accept mastercard, discover and awesome cool money too. Here is how our service works tho so that's cool.
          </p>
          <div class="content-card__icon-flags">
              <%= evil_icon 'ei-credit-card', size: :m, id: "payments-tt" %>
          </div>
        </div>
        <div class="mdl-card__actions">
          <%= link_to "Schedule a visit!", contact_path, class: "background-color-header mdl-button font-color-welcome mdl-js-button mdl-js-ripple-effect" %>
          <%= link_to "Meet our caregivers", about_path, class: "background-color-header mdl-button font-color-welcome mdl-js-button mdl-js-ripple-effect" %>
          <%= link_to "See Testimonials", testimonials_path, class: "background-color-header mdl-button font-color-welcome mdl-js-button mdl-js-ripple-effect" %>
        </div>
      </div>

    </div>
  </div>

</div>
