<div class="mdl-grid">
	<% if current_user %>
		<a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="/testimonials/new">Create new testimonial</a>
	<% end %>
</div>

<div id="content-list">
	<% @contents.each do |c| %>
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--8-col mdl-card mdl-shadow--3dp">
				<div class="mdl-card__title mdl-color--yellow-300">
	  				<%= c.heading %><% if !c.visible %><%= " | (not displayed)" %><% end -%>
				</div>
				<div class="mdl-card__supporting-text mdl-color-text--grey-600">
	  				<%= c.text.html_safe %>
				</div>
				<% if current_user %>
					<div class="mdl-card__actions mdl-card--border">
						<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/contents/<%= c.id %>/edit">Edit</a>
						<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect deactivate-button" data-remote="true" href="/contents/invisible/<%= c.id %>" style="display: <% if c.visible %><%= 'inline-flex' %><% else %><%= 'none' %><% end -%>">Do not display</a>
						<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect activate-button" data-remote="true" href="/contents/visible/<%= c.id %>" style="display: <% if !c.visible %><%= 'inline-flex' %><% else %><%= 'none' %><% end -%>">Display</a>
					</div>
				<% end -%>
			</div>
			<% if c.avatar_file_name && c.visible %>
				<div class="image-container mdl-cell mdl-cell--4-col">
					<div class="image-frame mdl-shadow--3dp" style="background-image: url(<%= c.avatar.url %>);"></div>
				</div>
			<% end -%>
		</div>
	<% end %>
</div>

<% @testims.each_with_index do |t, i| %>
	<% if t.visible || current_user %>
		<div class="mdl-grid">
			<div class="testim-card mdl-cell mdl-cell--8-col mdl-card mdl-shadow--3dp">
				<div class="mdl-card__title mdl-color--purple-300">
					<%= t.cust_name %><% if !t.visible %> | (not shown on page) <% end -%>
				</div>
				<div class="mdl-card__supporting-text mdl-color-text--grey-600">
					<div class="testim-stars mdl"><% t.stars.times do %><%= evil_icon 'ei-star', size: :s %><% end -%></div>
					<div class="testim-cust-desc"><%= t.cust_desc %></div>
					<div class="testim-content"><%= t.content.html_safe %></div>
					<% if current_user %>
						<div class="mdl-card__actions">
							<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/walkers/<%= t.id %>/edit">Edit</a>
							<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect invisible-button" data-remote="true" href="testimonials/invisible/<%= t.id %>" style="display: <% if t.visible %><%= 'inline-flex' %><% else %><%= 'none' %><% end -%>">Do Not Display</a>
							<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect visible-button" data-remote="true" href="tesimonials/visible/<%= t.id %>" style="display: <% if !t.visible %><%= 'inline-flex' %><% else %><%= 'none' %><% end -%>">Show on Page</a>
						</div>
					<% end -%>
				</div>
			</div>
			<% if t.avatar_file_name && t.visible %>
				<div class="image-container mdl-cell mdl-cell--4-col">
					<div class="image-frame mdl-shadow--3dp" style="background-image: url(<%= t.avatar.url %>);"></div>
				</div>
			<% end -%>
		</div>
	<% end -%>
<% end -%>

<script>
// Make testimonial invisible
	$(".invisible-button").each(function() {
		$(this).on("ajax:complete", function(event) {
			$(event.target).hide();
			$(event.target).next().show();
		});
	});

// Make testimonial visible
	$(".visible-button").each(function() {
		$(this).on("ajax:complete", function(event) {
			$(event.target).hide();
			$(event.target).prev().show();
		});
	});

// Deactivate content
	$(".deactivate-button").each(function() {
		$(this).on("ajax:complete", function(event) {
			$(event.target).hide();
			$(event.target).next().show();
		});
	});

// Activate content
	$(".activate-button").each(function() {
		$(this).on("ajax:complete", function(event) {
			$(event.target).hide();
			$(event.target).prev().show();
		});
	});	
</script>	