  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">
        Philadelphia Pet Care Company
      </span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <%= link_to "Home", root_path, class: "mdl-navigation__link" %><br>
        <%= link_to "About", about_path, class: "mdl-navigation__link" %><br>
        <%= link_to "Services", services_path, class: "mdl-navigation__link" %><br>
        <%= link_to "Testimonials", testimonials_path, class: "mdl-navigation__link" %><br>
        <%= link_to "Contact", contact_path, class: "mdl-navigation__link" %><br>
        <% if !current_user %>
          <%= link_to "Login", new_user_session_path, class: "mdl-navigation__link" %><br>
        <% else %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "mdl-navigation__link" %><br>
          <%= link_to "Admin", admin_path, class: "mdl-navigation__link" %><br>
        <% end %>

      </nav>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">PPCC</span>
    <nav class="mdl-navigation">
      <%= link_to "Home", root_path, class: "mdl-navigation__link" %><br>
      <%= link_to "About", about_path, class: "mdl-navigation__link" %><br>
      <%= link_to "Services", services_path, class: "mdl-navigation__link" %><br>
      <%= link_to "Testimonials", testimonials_path, class: "mdl-navigation__link" %><br>
      <%= link_to "Contact", contact_path, class: "mdl-navigation__link" %><br>
      <% if !current_user %>
        <%= link_to "Login", new_user_session_path, class: "mdl-navigation__link" %><br>
      <% else %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "mdl-navigation__link" %><br>
        <%= link_to "Admin", admin_path, class: "mdl-navigation__link" %><br>
      <% end %>

    </nav>
</div>
