<div class="header-content mdl-grid">

    I'm the header

    <%= link_to "Home", root_path %><br>
    <%= link_to "About", about_path %><br>
    <%= link_to "Services", services_path %><br>
    <%= link_to "Testimonials", testimonials_path %><br>
    <%= link_to "Contact", contact_path %><br>
    <%= link_to "log in",new_user_session_path %>

    <hr>
</div>
