<!DOCTYPE html>
<html>
  <head>
    <title>PetCareCo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout">
      <%= render 'layouts/header' %>

      <% if current_user %>
        <div class="admin-coloring mdl-layout__content">
      <% else %>
        <div class="site-coloring mdl-layout__content">
      <% end %>

      <div class="mdl-grid">

        <div class="alert-messages">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>

      </div>

        <!-- <div class="mdl-grid"> -->

            <%= yield %>

        <!-- </div> -->

      </div> <!-- end background coloring content -->

      <%= render 'layouts/footer' %>


    </div>
  </body>
</html>
