<!DOCTYPE html>
<html>
  <head>
    <title>PetCareCo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'dialog-polyfill', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'dialog-polyfill' %>
    <%= evil_icons_sprite %>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <!-- <script src="dialog-polyfill.js"></script> -->
    <!-- <link rel="stylesheet" type="text/css" href="dialog-polyfill.css" /> -->

  </head>

  <body>
    <div class="walker-image mdl-layout mdl-js-layout">
      <%= render 'layouts/header' %>

      <% if current_user %>
        <div class="admin-coloring mdl-layout__content">
      <% else %>
        <div class="site-coloring mdl-layout__content">
      <% end %>

      <div class="mdl-grid">

        <div class="alert-messages">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>

      </div>

            <%= yield %>

        <%= render 'layouts/footer' %>
      </div> <!-- end background coloring content -->



    </div>
  </body>
</html>
