<!DOCTYPE html>
<html>
  <head>
    <title>PetCareCo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout">
      <%= render 'layouts/header' %>
  <!-- devise default syntax for flash display -->

      <div class="mdl-layout__content">

        <div class="mdl-grid">
          <div class="page-content">

            <div class="alert-messages">
              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>
            </div>
            <%= yield %>
          </div>

          <%= render 'layouts/footer' %>
          </div>

      </div>

    </div>
  </body>
</html>
